/* fonts */

@font-face {
font-family:'AlegreyaItalic';
src:local('AlegreyaItalic'), url(fonts/alegreya/Alegreya-Italic.ttf) format('truetype')
}
@font-face {
font-family:'Alegreya';
src:local('Alegreya'), url(fonts/alegreya/Alegreya-Regular.ttf) format('truetype')
}

/* basic */

body {
        background: #fff;
        text-align:justify;
        margin:0 auto 0 auto;
        padding:0;
        max-width:1200px;
        line-height:1;
        color:black;
        font:11pt 'Alegreya';
        vertical-align: baseline;
        padding-top: 20px;
        padding-bottom: 20px;
}
#header {
        padding-top: 0pt;
        padding-right: 1.5em;
        padding-bottom: 0pt;
        padding-left: 1.5em;
        text-align: left;
        border-bottom-width: 2px;
        border-bottom-style: solid;
        border-bottom-color: #ae3000;
}
#header div.description
{
        color: #999999;
        text-transform: uppercase;
        float: right;
        margin-top: -1.5em;
}
.details_small {
    font-size: 1em;
    color: #999999;
    margin-top: 0pt;
    margin-right: 0pt;
    margin-bottom: 0pt;
    margin-left: 0pt;
}
#main {
        padding-top: 2em;
        padding-right: 1.5em;
        padding-bottom: 1.5em;
        padding-left: 1.5em;
        margin-bottom: 1em;
        border-bottom-width: 2px;
        border-bottom-style: solid;
        border-bottom-color: #ae3000;
}
#main .image
{
        border:rgba(0,0,0,0.5) 0px solid;
        display:block;
        overflow:hidden;
        padding:5px;
        position:relative;
}

#main .image:hover { box-shadow:rgba(0,0,0,0.5) 0 0 20px; }
#main .image .caption
{
        -moz-transition:margin-bottom;
        -moz-transition-duration:.5s;
        -moz-transition-timing-function:ease-in-out;
        -webkit-transition:margin-bottom;
        -webkit-transition-duration:.5s;
        -webkit-transition-timing-function:ease-in-out;
        background:rgba(0,0,0,0.5);
        bottom:0;
        color:rgba(255,255,255,1);
        display:block;
        font-size:11pt;
        left:0;
        margin-bottom:-100px;
        padding:5px;
        position:absolute;
        transition:margin-bottom;
        transition-duration:.5s;
        transition-timing-function:ease-in-out;
        width:179px;
}
#main .image:hover .caption { margin-bottom:0; }

/* headdings */

h1 { font:50pt 'AlegreyaItalic'; margin:0; }
h2 {
        font:50pt 'AlegreyaItalic';
        font-size:1.8em;
        text-align:left;
        font-weight:normal;
        font-style:normal;
        border-top-width: 6px;
        border-top-style: solid ;
        border-top-color: #999999;
        border-bottom-width: 3px;
        border-bottom-style: solid;
        border-bottom-color: #999999;
}
h3 {
        text-align:left;
        font-size:1.2em;
        font-weight:bold;
        line-height:1.1em;
        font-style:italic;
        margin-bottom: 1.4em;
}
h4 { font-size: 1em; line-height:1.5em; font-weight:normal; font-style:normal; }
p { line-height: 1.5em; margin-bottom: 1.5em; }
table { border-collapse:collapse; border-spacing:0; }

/* table of contents */

dl{clear:both;width:100%;overflow:hidden;background:#fff url(i/dot.png) repeat-x 0 0.8em}
dt,dd{background:#fff}
dt{float:left;padding-right:3px}
dd{margin:0;float:right;padding-left:3px}
ol{ font:12pt 'Alegreya'; margin:0;padding:0;list-style:none}
li ol{width:95%;padding-left:5%}

/* spalten */

article header h2 { font-size:25pt; }
header { display:block; text-align:center; }

#container > header { border-bottom:rgba(4,99,128,1) 5px solid; margin-bottom:10px; }
#container > header h1 { font:50pt 'AlegreyaItalic'; margin:0; }
#container > header p { font-size:12pt; margin:0; padding:0; }
#container
{
        -moz-box-shadow:rgba(0,0,0,0.5) 0 0 10px 5px;
        -webkit-box-shadow:rgba(0,0,0,0.5) 0 0 10px 5px;
        background:#fff;
        box-shadow:rgba(0,0,0,0.5) 0 0 10px 5px;
        margin:0 auto;
        padding:20px;
        width:1000px;
}

#content { display:table; }

section
{
        border-right:rgba(0,0,0,0.5) 1px solid;
        display:table-cell;
        padding-right:10px;
        width:700px;
}
section article p
{
        -moz-column-gap:20px;
        -moz-column-rule:rgba(102,102,102,1) 1px solid;
        -moz-column-width:200px;
        -webkit-column-gap:20px;
        -webkit-column-rule:rgba(102,102,102,1) 1px solid;
        -webkit-column-width:200px;
        column-gap:20px;
        column-rule:rgba(102,102,102,1) 1px solid;
        column-width:200px;
}

#teaser article { font:11pt 'Alegreya'; }
#teaser article header h2 { font-size:18pt; margin:0; text-align:left; }
#teaser .image
{
        border:rgba(0,0,0,0.5) 1px solid;
        display:block;
        overflow:hidden;
        padding:5px;
        position:relative;
}
#teaser .image:hover { box-shadow:rgba(0,0,0,0.5) 0 0 20px; }
#teaser .image .caption
{
        -moz-transition:margin-bottom;
        -moz-transition-duration:.5s;
        -moz-transition-timing-function:ease-in-out;
        -webkit-transition:margin-bottom;
        -webkit-transition-duration:.5s;
        -webkit-transition-timing-function:ease-in-out;
        background:rgba(0,0,0,0.5);
        bottom:0;
        color:rgba(255,255,255,1);
        display:block;
        font-size:12pt;
        left:0;
        margin-bottom:-100px;
        padding:5px;
        position:absolute;
        transition:margin-bottom;
        transition-duration:.5s;
        transition-timing-function:ease-in-out;
        width:100%;
}
#teaser .image:hover .caption { margin-bottom:0; }
#teaser a { color:rgba(0,0,0,1); font-weight:bold; text-decoration:none; }
#teaser a:before { content:"►"; }

aside { display:table-cell; padding-left:10px; width:280px; }
aside header h2 { font-size:18pt; font-style:italic; }
article p { text-align:justify; text-indent:20px; text-justify:newspaper; }

location {
        float:left;
        display:table-cell; padding:10px; 
        border-width: 2px;
        border-style: solid;
        border-color: #aaaaaa;
        font-size:10pt;
        background: #eeeeee;
}


/* mini environments */

#index, #impressum {
        margin-top:10px;
        text-align: right;
        color: #999999;
        border-top-width: 2px;
        border-top-style: solid;
        border-top-color: #ae3000;
        font-size:10pt;
}
#index a, #impressum a{ color: #999999; font-weight:bold; text-decoration:none; }
#index a:before, #impressum a:before { content:"►"; }
